<?xml version="1.0" encoding="utf-8" ?>
<app>
    <server>
        <host>0.0.0.0</host>
        <port>8088</port>
        <charset>utf-8</charset>

        <!-- Http cache in seconds for static files -->
        <cache>3600</cache>
        <ssl>false</ssl>
    </server>

    <root>
        <!-- Web root folder relative your class path -->
        <property name="www">WWW</property>
        <!-- Template folder path relative your class path -->
        <property name="template">WEB-INF/templates</property>
        <!-- Outer resources directory -->
        <property name="resource"></property>
    </root>

    <statics>
        <static>/favicon.ico</static>
        <static>/robots.txt</static>
        <static>/sitemap.xml</static>
    </statics>

    <indexFiles>
        <index>index.html</index>
        <index>index.htm</index>
    </indexFiles>

    <session>
        <key>SESSION</key>
        <timeout>2592000</timeout>
    </session>

    <!-- Error page template path relative templates folder path -->
    <!--<errorPage>-->
        <!--<property name="403">403.htm</property>-->
        <!--<property name="404">404.htm</property>-->
        <!--<property name="500">500.htm</property>-->
        <!--<property name="502">502.htm</property>-->
    <!--</errorPage>-->
</app>